.museCard {
    height: 24em;
    width: 24em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.museImage {
    height: 100%;
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.museImageResize {
    object-fit: cover;
    object-position: 100% 5%;
}

.museDescription {
    padding: 2em 1em;
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.museCard:hover .museImage {
    height: 20%;
    padding: 0
}

.museCard:hover .museDescription {
    height: 80%;
}